/* 
    Created on : 29 déc. 2019, 21:30:55
    Author     : Voy
*/
body{
    overflow-x: hidden;
}
h1 {
    text-align:center;
    color: red;
    position: relative;
    top: 1rem;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2.indexView {
    position: relative;
    left: 2rem;
}

h2.comment{
    font-weight: bolder;
}

h3 {
    background-color:black;
    color:white;
    text-align: center;
}


section.postView{
    background-image: url("../images/summer.jpg"); 
    background-size: cover;
    height: 55rem;
}
input.btn.btn-secondary.specific.front{
    position: relative;
    top: 7.5rem;
    left: 95%;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro{
    background-image: url("../images/night.jpg"); 
    background-size: cover;
    height: 77rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.intro p {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
    word-wrap: break-word;
}

.chapter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
article.news.col-3 {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 5px;
    max-width: 30%;
    overflow-y: auto;   
    border: solid blueviolet 0.2px;
    background-color: white;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
article.news.col-3.postDetails{
    position: relative;
    margin-bottom: 4rem;
    top: 3rem;
    left: 35%;
    justify-content: space-around;
}
article h3 {
    margin-top: 5px;
}

a
{
    text-decoration: none;
    color: blue;
}

.commentView{
    position: absolute;
    top: 4rem;
    right: 1rem;
}

article.comment{
    position: relative;
    max-height: 15rem;
    overflow-y: auto;
    width: 22rem;
    border: solid blueviolet 0.2px;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: white;
    padding: 3px;
    text-align: center;
    margin-bottom: 5px;
    
}
.postView article.comment a.btn.btn-danger{
    visibility: hidden;
}

.postView article.comment:hover a.btn.btn-danger{
    visibility: visible;
    width: 15rem;
    margin-bottom: 0.5rem;
}

.addCommment{
    border: solid blueviolet 0.2px;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    padding-bottom: 3px;
    background-color: graytext;
}
form.addCommment{
    width: 22rem;
    position: absolute;
    left: 1rem;
    top: 7rem;
}
#comment{
    margin: 3px;
}

div.comment.adminComReported{
    margin-top: 15px;
}
.adminCommentReportedByChapter{
    margin-left: 1rem;
}

.linkAdmin{
    position: relative;
    left: 1rem;
    margin-bottom: 0.5rem;

}

a.loginView{
    position: relative;
    left: 1rem;

}

label.loginView{
    margin-right: 3px; 
}
.container.login{
    text-align: center;
}
.pagin{
    text-align: center;
    font-size: 2rem;
}
.btn{
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 3px;
}
label{
    font-weight: bold;
}
/*--------------------------------specific backend-----------------------------*/
.back section article.news{
    text-align: center;
}

.back h1{
    text-align:center;
    color: red;
    position: relative;
    top: .3rem;
}
input.btn.btn-secondary.specific.back{
    position: relative;
    left: 60rem;
    width: 85px;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2.chapterView{
    position: relative;
    left: 12rem;
}

h2.adminView{
    position: initial
}

div.col.commentAdminView{

    position: absolute;
    top: 11rem;
    width: 24rem;
    right: 12rem;
    overflow-y: auto;

}
input.btn.btn-danger.adminchapter{
    visibility: visible;
    margin-bottom: 2.5rem;
}
.titleAdminComReported{
    position: relative;
    top: 7rem;
    left: 1rem;
}
.container.adminComReported{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 70%;
}
.addChapView{
    width: 80%;
    margin-left: 10%;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: solid blueviolet 0.2px;
}
.addChapView.title{
    border: solid blueviolet 0.2px;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.addChapViewLabel{
    margin-left: 1rem;
}

.addChapViewBtn{
    position: relative;
    left: 10%;
}

article.news.col-3.edChapView{
    display: flex;
    flex-direction: column;
    margin: 5px;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    border: solid blueviolet 0.2px;
    background-color: white;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tox{ /*class of tinyMCE field*/
    margin-bottom: 5px;
}
article.news.col-3.edChapView form div input.btn.btn-secondary{
 margin-bottom: 3px;    
}

