/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 déc. 2019, 21:30:55
    Author     : Voy
*/

h1, h3
{
    text-align:center;
    color: red;
}
h2{
    position: relative;
    left: 1rem;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}
input.btn.btn-danger{
    visibility: hidden;

}
input.btn.btn-danger.adminchapter{
    visibility: visible;
}
.container.adminComReported{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        max-width: 70%;
}
div.comment{
    position: relative;
    left: 1rem;
}
div.comment:hover input.btn.btn-danger{
        visibility: visible;
        width: 15rem;
}
div.comment.adminComReported{
    margin-top: 15px;
}
.signInBtn{
    position: relative;
    left: 1rem;

}
.addCommment{
    margin-left: 1rem;
}

.linkAdmin{
    position: relative;
    left: 1rem;
    margin-bottom: 0.5rem;
}

.specific{
    width: 85px;
}