/* 
    Created on : 29 déc. 2019, 21:30:55
    Author     : Voy
*/
body{
    overflow-x: hidden;
}
header h1 {
    text-align:center;
    color: red;
    position: relative;
    top: 1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    position: relative;
    left: 1rem;
}

h3 {
    background-color:black;
    color:white;
    margin: auto;
    text-align: center;
}


section.postView{
    background-image: url("../images/summer.jpg"); 
    background-size: cover;
    height: 55rem;
}
input.btn.btn-secondary.specific.front{
    position: relative;
    top: 5rem;
    left: 95%;
}

.intro{
    background-image: url("../images/night.jpg"); 
    background-size: cover;
    height: 77rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.intro p {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}

.chapter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
article.news.col-3 {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 5px;
    max-width: 30%;
    height: 20rem;
    overflow-y: auto;   
    border: solid blueviolet 0.2px;
}
article.news.col-3.postDetails{
    position: relative;
    height: auto;
    top: 3rem;
    left: 35%;
}
article h3 {
    margin-top: 5px;
}

a
{
    text-decoration: none;
    color: blue;
}
input.btn.btn-danger.adminchapter{
    visibility: visible;
    margin-bottom: 0.5rem;
}
.container.adminComReported{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        max-width: 70%;
}

article.comment{
    position: relative;
    left: 1rem;
    width: 20rem;
}
article.comment form input.btn.btn-danger{
    visibility: hidden;

}
article.comment:hover form input.btn.btn-danger{
    visibility: visible;
    width: 15rem;
}
div.comment.adminComReported{
    margin-top: 15px;
}

.addCommment{
    position: relative;
    bottom: 22rem;
    left: 1rem;
}

.linkAdmin{
    position: relative;
    left: 1rem;
    margin-bottom: 0.5rem;

}

a.loginView{
    position: relative;
    left: 1rem;

}

label.loginView{
    margin-right: 3px; 
}
.pagin{
    text-align: center;
    font-size: 2rem;
}
/*--------------------------------specific backend-----------------------------*/
.back section article.news{
    text-align: center;
}

.back h1{
    text-align:center;
    color: red;
    position: relative;
    top: .3rem;
}

input.btn.btn-secondary.specific.back{
    position: relative;
    left: 60rem;
    width: 85px;
}

